{% extends "base.html" %}
{% block content %}

<!--     <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Matched Results</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Posts</th>
                        <th>Followers</th>
                        <th>Following</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users  %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.post.count}}</td>
                            <td>{{ user.following.count}}</td>
                            <td>{{ user.follower.count}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->


    <br><br><br>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Found...</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <!-- <th>Follow/Unfollow</th> -->
                    </tr>
                    </thead>

                    <!-- {% for fu in followed_users %}
                        <tr>
                            <td> <img src="{{ fu.avatar.url }}" class="img-circle" style="width: 40px; height: 40px; float: left; margin-top: 5px; margin-right: 5px;">
                                <a href="{% url "otherprofile" fu.id %}"> {{ fu.name }} </a></td>
                            <td><a href="{% url 'unfollow' fu.id %}" class="btn btn-primary btn-sm" role="button">Unfollow</a></td>
                        </tr>
                    {% endfor %} -->
                   <!--  {% for user in users  %}
                        <tr>
                            <td><img src="{{ user.avatar.url }}" class="img-circle" style="width: 40px; height: 40px; float: left; margin-top: 5px; margin-right: 5px;">
                                <a href="{% url "otherprofile" user.id %}"> {{ user.name }} </a></td>
                             <td><a href="{% url 'unfollow' user.id %}" class="btn btn-primary btn-sm" role="button">Unfollow</a></td>
                        </tr>
                    {% endfor %} -->

                    {% for u in users %}
                    {% for fu in followed_users %}
                        {% if u == fu %}
                        <tr>
                            <td> <img src="{{ fu.avatar.url }}" class="img-circle" style="width: 40px; height: 40px; float: left; margin-top: 5px; margin-right: 5px;">
                                <a href="{% url "otherprofile" fu.id %}"> {{ fu.name }} </a></td>
                            <td><a href="{% url 'unfollow' fu.id %}" class="btn btn-primary btn-sm" role="button">Unfollow</a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% endfor %}

                    {% for u in users %}
                    {% for user in users2  %}
                        {% if u == user %}
                        <tr>
                            <td> <img src="{{ user.avatar.url }}" class="img-circle" style="width: 40px; height: 40px; float: left; margin-top: 5px; margin-right: 5px;">
                                <a href="{% url "otherprofile" user.id %}"> {{ user.name }} </a></td>
                            <td><a href="{% url 'followuser' user.id %}" class="btn btn-primary btn-sm" role="button">Follow</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% endfor %}


                </table>
            </div>
        </div>
    </div>

{% endblock %}
